.header-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .logo {
    display: flex;
    color: #6495ED;
    position: relative;

    img {
      height: 14vh;
    }

    .title {
      margin: 20px;
      font-size: 24pt;
      position: absolute;
      left: 14vh;
    }
  }

  .sign-in {
    color: #6495ED;
    padding: 20px;

    button {
      color: #6495ed;
      border: none;
      background-color: transparent;
    }

    a {
      text-decoration: underline;
      color: #6495ED;
      cursor: pointer;
    }

    form {
      .form-group {
        &.sign-in-btn {
          display: flex;
          justify-content: flex-end;
        }

        label {
          margin: 0 5px;
          width: 140px;
        }
      }

      span {
        font-size: 80%;
        color: #ed0000;
        margin-bottom: 1rem;
        display: inline-block;
      }

      .btn-group {
        display: flex;
        justify-content: space-around;

        .cancel-btn button{
          background-color: #d5d9da;
        }

        .sign-in-btn button{
          background-color: #add8e6;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .header-content {
    display: block;

    .logo {
      img {
        height: 11vh;
      }

      .title {
        margin: 0 20px;
        font-size: 16pt;
        position: absolute;
        left: 4vh;
      }
    }

    .sign-in {
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}