<footer class="panel-footer">
    <div class="container">
        <div class="row">
            <section id="hours" class="col-sm-6">
                <span>Hours:</span><br>
                Sun-Fri: 09:00am - 06:00pm<br>
                Saturday: Closed
                <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-6">
                <span>Address:</span><br>
                5955 Melrose Ave<br>
                Los Angeles, CA 90038-3623
                <p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.</p>
                <hr class="visible-xs">
            </section>
        </div>
        <div class="text-center">&copy; Copyright SWEET HOME 2018</div>
    </div>
</footer>