#file {

  .file-select-block {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
    }

    span {
      display: none;
    }

    button {
      color: #6495ed;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  
  &.no-chosen-file {
    .file-select-block {
      input {
        width: 100px;
      }

      span {
        display: block;
      }
    }
  }
}

form button.update {
  background-color: #add8e6;
}

.product-detail-section {
  display: flex;
  justify-content: center;

  .product-card {
    border: 4px solid #ced4da;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: column;
    width: 35vw;

    .image-info-block {
      display: flex;
      height: 70%;

      .image-block {
        width: 50%;

        .product-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title-block {
          margin: 25px 10px 10px;
          display: flex;
          align-items: flex-start;

          .title {
            color: #6495ed;
            font-weight: bold;
          }
        }

        .price-block {
          line-height: 46px;
          height: 46px;
          text-align: center;
          margin: 10px;
          font-weight: bold;
          font-size: 22pt;

          label {
            margin-left: 10px;
          }
        }

        .action-block {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          .code {
            width: 75%;
            text-align: center;
          }

          .action-buttons {
            display: flex;

            button {
              color: #6495ED;
              background-color: transparent;
              border: none;
              outline: none;
            }
          }
        }
      }
      .description-block {
        margin: 10px;
        display: flex;
        align-items: flex-start;
      }
    }

    .description-block {
      margin: 20px;

      .description {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 767px) {
  .product-detail-section .product-card {
    width: 90vw;
  }
}

@media (max-width: 575px) {
  #file .file-select-block div {
    width: 90%;

    span {
      width: 150px;
    }
  }
}