.main-container {
  width: 80vw;
  background-color: #ebebeb;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.jumbotrone {
  position: relative;
  width: 100%;
  min-height: 80vh;
}

.header {
  height: 10vh;
}

.nav {
  height: 3vh;
}

.footer {
  height: 7vh;
}