.main-container {
  width: 80vw;
  background-color: #ebebeb;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.jumbotrone {
  height: 80%;
  position: relative;
  overflow-y: scroll;
}

.header {
  height: 10%;
}

.nav {
  height: 3%;
}

.footer {
  height: 7%;
}