.main-container {
  width: 80vw;
  background-color: #ebebeb;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.jumbotrone {
  position: relative;
  width: 100%;
}

.nav {
  height: 6vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  a {
    border: 3px solid #ced4da;
    padding: 0 25px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #6495ed;
    color: white;
    text-decoration: none;

    &.is-active {
      background-color: #0062cc;
    }
  }
}

@media (max-width: 575px) {
  .main-container {
    width: 100vw;
    padding: 20px
  }
}