.top-panel {
  .search-section {
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 10px;
  }

  label {
    color: #6495ed;
    margin: 0 5px;
  }

  input {
    padding: 0 5px;
  }

}

.slide-button-container {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  width: 80vw;
  z-index: 1000;

  button {
    background-color: transparent;
    border: none;
    color: #6495ED;
    outline: none;

    &#slide-up {
      display: none;
    }

    i {
      font-weight: bold;
    }
  }

  .add-product-title {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 15px;
  }
}

.product-list-container {
  position: relative;
  transition: all 0.3s linear;
  height: calc(100% - 50px);

  .new-product-container {
    margin-top: 50px;
    display: none;

    button{
      background-color: #ADD8E6;

      &#slide-up {
        display: none;
      }
    }
  }

  .pagination {
    margin-top: 30px;
    display: inline-flex;
    justify-content: center;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 5px;
        height: 25px;
        text-align: center;
        cursor: pointer;

        a {
          color: #007bff;
          text-decoration: none;
        }
      }
    }
  }

  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .product-card {
      width: 33%;
      border: 4px solid #ced4da;
      margin-bottom: 0.5%;
      display: flex;
      flex-direction: column;

      .image-info-block {
        display: flex;
        height: 70%;

        .image-block {
          width: 50%;

          .product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .info-block {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title-block {
            margin: 25px 10px 10px;
            display: flex;
            align-items: flex-start;

            .title {
              color: #6495ed;
              font-weight: bold;
            }
          }

          .title-block a {
            height: 100px;
          }

          .price-block {
            line-height: 46px;
            height: 46px;
            text-align: center;
            margin: 10px;
            font-weight: bold;
            font-size: 22pt;

            label {
              margin-left: 10px;
            }
          }

          .action-block {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .code {
              width: 75%;
              text-align: center;
            }

            .action-buttons button {
              color: #6495ED;
              background-color: transparent;
              border: none;
            }
          }
        }
        .description-block {
          margin: 10px;
          display: flex;
          align-items: flex-start;
        }
    }

      .description-block {
        margin: 20px;

        .description {
          display: inline-block;
          height: 85px;
        }
      }
    }
  }
}