<div class="slide-button-container">
    <h5 class="add-product-title">Add new product</h5>
    <button id="slide-down"
            (click)="slideDown()"><i class="fa fa-angle-down"></i>
    </button>
    <button id="slide-up"
            (click)="slideUp()"><i class="fa fa-angle-up"></i>
    </button>
</div>
<div class="product-list-container">
    <div class="new-product-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Product Code</label>
                        <input type="text" formControlName="productCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }" />
                        <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
                            <div *ngIf="f.productCode.errors.required">Product Code is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                        <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                            <div *ngIf="f.productName.errors.required">Product Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Image</label>
                        <input type="file" formControlName="productImage" class="form-control-file" [ngClass]="{ 'is-invalid': submitted && f.productImage.errors }" />
                        <div *ngIf="submitted && f.productImage.errors" class="invalid-feedback">
                            <div *ngIf="f.productImage.errors.required">Product Image is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Description</label>
                        <input type="text" formControlName="productDescr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productDescr.errors }" />
                        <div *ngIf="submitted && f.productDescr.errors" class="invalid-feedback">
                            <div *ngIf="f.productDescr.errors.required">Product Description is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Price</label>
                        <input type="text" formControlName="productPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productPrice.errors }" />
                        <div *ngIf="submitted && f.productPrice.errors" class="invalid-feedback">
                            <div *ngIf="f.productPrice.errors.required">Product Price is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn">Add New Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="product-card" *ngFor="let product of products">
            <div class="image-block">
                <img class="product-image" src="{{product.image}}"/>
            </div>
            <div class="info-block">
                <div class="action-block">
                    <div class="code">
                        <span>{{product.id}}</span>
                    </div>
                    <div class="action-buttons">
                        <button title="update product"
                                (click)="update(product)"><i class="fa fa-pencil"></i>
                        </button>
                        <button class="delete" title="delete product"
                                (click)="delete(product)"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="title-block">
                    <a class="title" routerLink="/product/{{product.id}}">
                        {{product.name}}
                    </a>
                </div>
                <div class="description-block">
                    <p class="description">{{product.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>